.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        width: calc(100% - 2 * 16px);
        margin: 0 auto;
    }
}