.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}