@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    src: local("Inter"),
    url("./fonts/Inter-3.19/Inter-Web/Inter-Black.woff2")
    url("./fonts/Inter-3.19/Inter-Web/Inter-Black.woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    src: local("Inter")
    url("./fonts/Inter-3.19/Inter-Web/Inter-Bold.woff2")
    url("./fonts/Inter-3.19/Inter-Web/Inter-Bold.woff");
}

.page {
    font-family: "Inter", "Arial", "sans-serif";
    background-color: #2A2C2F;
    color: white;
    margin: 0;
}

.content {
    max-width: 1280px;
    margin: auto;
}

.header {
    display: flex;
    width: 1184px;
    height: 52px;
    margin: 28px auto 0;
    justify-content: space-between;
}

.header__links {
    margin: 18px 0 0;
}

.header__link {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: white;
}

.header__link:first-of-type {
    border-bottom: solid white;
    margin-right: 18px;
}

.header__link_ru {
    text-decoration: underline;
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0 0;
    width: 984px;
    margin: auto;
}

.lead__title {
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    height: 200px;
    text-align: center;
    margin: 0;
}

.lead__subtitle {
    margin: 32px 0 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    width: 640px;
    height: 72px;
    letter-spacing: 1px;
}

.lead__image {
    margin: 64px 0 0;
    background-image: url("images/lead__image.png");
    width: 984px;
    height: 615px;
}

.lead__svg {
    margin: 90px 23px 0;
}

.lead__caption {
    align-self: flex-start;
    margin: 8px 0 0;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro {
    margin: 92px 0 0 148px;
    width: 690px;
}




.cover__background {
    background-image: url('./images/cover__background.png');
    width: 1184px;
    height: 740px;
}