.place__image {
    max-width: 460px;
}

@media screen and (max-width: 1279px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        max-width: 100%;
    }
}