.cover__subtitle {
    text-align: center;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
    z-index: 2;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        max-width: 288px;
    }
}