.footer__link {
    text-decoration: none;
    color: white;
    transition: opacity 0.2s ease-in;
    font-size: 16px;
    line-height: 1.12;
}

.footer__link:last-of-type {
    margin: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}