.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 1.04;
    max-width: 720px;
    text-align: center;
    margin: 0;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        max-width: 288px;
    }
}