.lead__subtitle {
    margin: 32px 0 0;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
        max-width: 288px;
        margin: 16px 0 0;
    }
}