.cover__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../images/cover-trains.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 740px;
    background-size: cover;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 2;
}

.cover__background::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    ;
    opacity: 0.3;
    transition: opacity 0.3s ease-in;
}

.cover__background:hover::after {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        min-height: 200px;
    }
}