.lead__caption {
    margin: 8px 0 0;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}