.cover__title {
    text-align: center;
    margin: 0 0 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    max-width: 560px;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
        margin: 0 0 16px;
    }
}