.place {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, max-content) 1fr;
    max-width: 984px;
    margin-top: 80px;
    row-gap: 48px;
    column-gap: 40px;
}

.place:first-of-type {
    margin: 0;
}

.place:last-of-type .place__paragraph {
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        column-gap: 28px;
    }
}