.footer {
    margin: 92px auto 24px;
    width: calc(100% - 2 * 48px);
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: calc(100% - 2 * 24px);
    }
}